<table>
	<tr><th>Gene</th>
		<th>GEO filter</th>
		<th>Matching Datasets</th>
		<th>Number of Annotations</th>
		<th>Analysis Time</th>
		<th>Secs/Annotation</th>
	</tr>
<%= render :partial => "analysis_item", :collection => @analyses %>
</table>